<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>108669864248-8bprnqpe4crnob7311g2ebeholvi22si.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.108669864248-8bprnqpe4crnob7311g2ebeholvi22si</string>
	<key>API_KEY</key>
	<string>AIzaSyC-NPiOkRmR70E5--TT0C9tclPYKHOcQhE</string>
	<key>GCM_SENDER_ID</key>
	<string>108669864248</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ahmetgokdemir.com.Yeni-Nesil-Sozluk</string>
	<key>PROJECT_ID</key>
	<string>yeni-nesil-sozluk</string>
	<key>STORAGE_BUCKET</key>
	<string>yeni-nesil-sozluk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:108669864248:ios:dd4e9259f2bc4f777359cd</string>
</dict>
</plist>